<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" disabled='True'>ChatApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" disabled>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
          <%= link_to 'Home', root_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
          <%# <a class="nav-link" href="#">Link</a> %>
          <%= link_to 'Posts', posts_path , class:"nav-link active"%>
        </li>
        <li>
          <%= link_to 'Add a friend', friends_index_path , class:"nav-link active"%>
        </li>
        <li>
          <%= link_to 'Contacts', friends_show_path , class:"nav-link active"%>
        </li>
        <li>
          <%= link_to 'Rooms', rooms_path , class:"nav-link active"%>
        </li>
        <li>
          <%=  link_to 'Private Chats', personal_chats_path, class:"nav-link active"%>
        </li>
        </ul>
        <div class="d-flex gap-2">
      <%= link_to 'Profile', edit_user_registration_path, class:"btn btn-success"%> 
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
</nav>
<% end %>