    <%= form_with(model: post) do |form| %>
    
      <div>
      <%= form.text_field :user_id, value: current_user.id, hidden:'True'%>
      </div>
      <div>
        <%= form.text_field :title, class: "form-control", placeholder: "Title", required:'True'%>
      </div>
      </br>
      <div>
        <%= form.text_field :category, class:"form-control", placeholder: "Category", required:'True' %>
      </div>
      </br>
      <div>
        <%= form.textarea :post,class:"form-control", placeholder: "Post", required:'True'%>
      </div>
      
      </br>
      <div style="text-align: center;">
        <%= form.submit class:"btn btn-primary"%>
      </div>
    <% end %>